/**
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution. 
 */

a:link    {
  text-decoration: none;
}
a:visited,
a:hover,
a:active,
a.active  {
  text-decoration: none;
}

/* Global focus style for links. */
a:active,
a:focus {}

/* Main menu inner wrapper */
#nav-wrapper .nav .menu-wrapper,
#nav-wrapper .nav .block-content {
  clear:both;
  margin: 0;
  font-size: 1.25em;
}
#nav-wrapper ul.menu {
  margin: 0;
}
#nav-wrapper .block-content li,
#nav-wrapper .menu-wrapper li,
#nav-wrapper .menu li {
  display: inline;
  float: left;
  list-style: none;
}
#nav-wrapper .block-content li a,
#nav-wrapper .menu-wrapper li a,
#nav-wrapper .menu li a {
  display: block;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;
}
#nav-wrapper li,
#nav-wrapper .menu li {
}

.nav li.sfhover,
.nav li a:hover,
.nav li a:focus,
.nav li a:active,
.nav li a.active,
.nav li a:visited:hover,
.nav li.active-trail a {
  background: transparent url(images/superfish-gray-active.png) no-repeat bottom center;
  text-decoration: none;
}
.nav .dark-arrow li.sfhover,
.nav .dark-arrow li a:hover,
.nav .dark-arrow li a:focus,
.nav .dark-arrow li a:active,
.nav .dark-arrow li a.active,
.nav .dark-arrow li a:visited:hover,
.nav .dark-arrow  li.active-trail a {
  background: transparent url(images/main-menu-active.png) no-repeat bottom center;
}
#nav-wrapper .nav .sf-depth-1 li a {
  background-image: none;
}
#nav-wrapper  ul,
#nav-wrapper  ul li,
#nav-wrapper  ul.menu,
#nav-wrapper  ul.menu li,
#nav-wrapper  .block {
  margin: 0;
  padding: 0;
}

.block .menu li.content {
  padding: 0; /* extra class can equal a standard class */
}

/* Breadcrumb */
.breadcrumb {
  font-size: 1.083em;
  padding: 0 10px 10px 5px;
}
/* AT7 builds brumbcrumb trails as an ordered list. */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb ol li {
  list-style: none;
  display: inline;
}
.breadcrumb a {}
.breadcrumb a:link {}
.breadcrumb a:visited {}
.breadcrumb a:hover {}
.breadcrumb a:focus {}
.breadcrumb a:active {}

/* Pager */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}
.item-list ul.pager li {
  margin: 5px;
}
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
}
ul.pager li.pager-current {
  font-weight: 700;
  padding: 5px;
}
.block ul.pager li {
  margin: 0;
}
ul.pager li a:link    {
  padding: 5px;
}

/* Local tasks */
#tasks {
  margin-bottom:1em;
}
ul.primary {
  border-bottom-color:#dcdcdc;
  margin:1.5em 0 0;
  padding:0 0 .2em .3em;
}
ul.primary li a {
  margin-right:.08em;
  background: transparent;
  border:0;
  font-weight:700;
  padding:0 1em 0 0;
}
.local-tasks ul.primary li a:hover,
.local-tasks ul.primary li a:focus {
  background-color: transparent;
  color: #000;
}
.local-tasks ul.primary li.active a {
  background: transparent;
  border: 0;
}
ul.secondary {
  border-bottom: 0;
  margin:1em 0 0;
  padding:0 .3em 1em;
}
ul.secondary li {
  list-style:none;
  border-right:0;
  line-height:2em;
  margin:0 0 0.5em;
  padding:0 1em 0 0;
}
ul.secondary li a:hover,ul.secondary li a.active {
  border-bottom:none;
  text-decoration:underline;
}
ul.primary li a:hover {
  background:#fff;
  border:0;
}
ul.primary li a.active,
ul.primary li.active a,
ul.primary li a.active:hover,
ul.primary li a.active:focus {
  border:0;
  background:none;
  color:#000;
}

/* Superfish */
/* sf-horizontal - classic drop menu style */
ul.sf-menu.sf-horizontal {
}
ul.sf-menu.sf-horizontal li.sf-depth-1 ul {
  background: #fff;
  border: 1px solid #eaeaea;
  top: 3.5em;
}
.dark-arrow ul.sf-menu.sf-horizontal li.sf-depth-1 ul {
  border: 1px solid #000;
}
#nav-wrapper ul.sf-menu.sf-horizontal li.sf-depth-1 ul  li a{
  line-height: 2.25em;
  height: 2.25em;
}
#nav-wrapper ul.sf-menu.sf-horizontal li.sf-depth-1 ul ul{
  top: 0;
}
/* .sf-navbar - drop down nav bar style */
ul.sf-menu.sf-navbar {
  padding: 0;
  z-index: 99;
}
ul.sf-menu.sf-navbar a {
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 10px;
  border-left: none;
  border-top: none;
}
ul.sf-menu.sf-navbar a:hover,
ul.sf-menu.sf-navbar a:focus,
ul.sf-menu.sf-navbar ul ul a:hover,
ul.sf-menu.sf-navbar ul ul a:focus,
ul.sf-menu.sf-navbar ul ul ul a:hover,
ul.sf-menu.sf-navbar ul ul ul a:focus,
ul.sf-menu.sf-navbar ul ul ul ul a:hover,
ul.sf-menu.sf-navbar ul ul ul ul a:focus {
}
ul.sf-menu.sf-navbar ul a:hover,
ul.sf-menu.sf-navbar ul a:focus  {
  text-decoration: underline;
}
ul.sf-menu.sf-navbar li {
  margin: 0;
  padding: 0;
}
ul.sf-menu.sf-navbar li:hover ul,
ul.sf-menu.sf-navbar li.sfHover ul {
  top: 3.5em;
}
ul.sf-menu.sf-vertical ul,
ul.sf-menu.sf-navbar ul ul,
ul.sf-menu.sf-navbar ul ul ul,
ul.sf-menu.sf-navbar ul ul ul ul {
  width: 13em;
}
ul.sf-menu.sf-navbar ul ul ul,
ul.sf-menu.sf-navbar ul ul ul ul {
  left: 100% !important;
}
.region-sub-menu-bar ul li a,
ul.sf-menu.sf-navbar.sf-style-none li.sf-depth-2 a {
  color: #fff;
}
ul.sf-menu.sf-navbar.sf-style-none li.sf-depth-2 ul {
  background: transparent url(images/superfish-gray-active.png) no-repeat center top;
  margin-top: -7px !important;
  padding-top: 7px !important;
  border: 1px solid #000;
  border-top: 0;
}
#nav-wrapper ul.sf-menu.sf-navbar.sf-style-none li.sf-depth-3 a {
  background: #fff;
  color: #000;
  line-height: 2.25em;
  height: 2.25em;
}
/* sf-vertical - flyout menus for sidebars */
ul.sf-menu.sf-vertical a {
  color: #fff !important; /* Tweak this to suit your color scheme */
}
ul.sf-menu.sf-vertical,
ul.sf-menu.sf-vertical ul,
ul.sf-menu.sf-vertical ul ul,
ul.sf-menu.sf-vertical ul ul ul {
  padding: 0;
  margin: 0;
}
.nav .block-content {
  padding: 5px 0 12px;
  margin: 0;
}
ul.sf-menu.sf-vertical,
ul.sf-menu.sf-vertical li {
  width: 100%;
}
ul.sf-menu.sf-vertical li:hover ul,
ul.sf-menu.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  top: 0;
}
ul.sf-menu.sf-vertical a:hover,
ul.sf-menu.sf-vertical a:focus {
  text-decoration: none;
}

/* Skip Navigation */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}

/* Book */
.article-content footer.book-navigation ul.menu {
  border-top: 1px solid #eaeaea;
  padding: 20px 10px;
}
.book-navigation .page-links {
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  padding: 10px;
  text-align: center;
}

/* Reset contextual links */
div.contextual-links-wrapper ul.contextual-links li a {
  font-size: small;
  text-transform: none;
  line-height: 1.5;
  height: auto;
  background-image: none;
}

/* Action links */
ul.action-links {
  margin: 25px 0 0 0;
  padding: 0;
}
ul.action-links li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.action-links li a {
  background: #f8f8f8 url(images/add.png) no-repeat 4px center;
  padding: 4px 8px 4px 22px;
  text-transform: capitalize;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
