/**
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution. 
 */

/* Gutters - if gutters are set in theme settings they will override these
   values: see Extensions > Modify Output > Design */
#main-content,
.block-inner,
.pane-inner,
.menu-wrapper,
.branding-elements,
.breadcrumb-wrapper,
.attribution,
.at-panel .rounded-corner,
.block-panels-mini > .block-title,
div.messages {
  margin-left: 10px;
  margin-right: 10px;
}

/* Panel pages need negative margin equal to the gutter width applied to #content,
  this is taken care of in theme settings as per above for normal gutters */
#content .panel-display,
#content .panel-flexible {
  margin-left: -10px;
  margin-right: -10px;
}

#content .panel-display,
#content .panel-flexible,
.panel-display .panel-display,
.panel-display .panel-flexible {
  margin-top: 0;
  border: 0;
  background: transparent;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}

/* Main layout overrides */
.not-front #main-content  > .inner {
  margin: 0;
  padding: 10px 0;
  width: auto;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  min-height: 1px;
}

#content-column {
  margin-bottom: 20px;
}

#content-wrapper {
  margin-top: 20px;
}

/* Region /gpanel overrides */
.region-menu-bar-top {
  margin: 0 10px;
}
.region-two-66-33-second {
  margin-bottom: 10px;
}
.two-50,
.four-4x25,
.region-secondary-content,
.region-tertiary-content {
  margin: 0 10px 20px;
}
.two-50,
.four-4x25 {
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 4 4px 4px rgba(0, 0, 0, 0.03);
}
.two-50 .region,
.four-4x25 .region {
  background: transparent url(images/gp-border.png) repeat-y right top;
}
.two-50 .region-two-second,
.four-4x25 .region-four-fourth {
  background-image: none;
}
.region-secondary-content,
.region-tertiary-content {
  background: #fff;
  border-width: 1px;
  border-style: solid;
  margin: 0 30px 20px;
  padding: 10px;
  -webkit-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03);
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.03);
}
.two-50,
.region-secondary-content {
  margin-top: 20px;
}
.three-3x33 {
  padding: 20px 0;
}
.region-help,
.region-highlighted {
  background: #fff;
  border-width: 1px;
  border-style: solid;
  margin: 0 30px 20px;
  padding: 10px 0;
}
.region-help {
  margin: 20px 10px;
}

/* Header */
#header-wrapper {
  padding: 20px 0 25px;
}
#page > header {
  clear: both;
  padding: 10px 0 0;
}
#site-name {
  font-size: 4em;
  line-height: 1;
}
#site-name a    {
  text-decoration: none;
  color: #181818;
}
#site-name a:visited {}
#site-name a:hover   {}
#site-name a:focus   {}
#site-name a:active  {}

#site-slogan {
  font-size: 1.5em;
  font-weight: 400;
}
.region-header {
  float: right;
}
#main-content .inner > header,
#main-content .inner #content {
    padding: 0 15px;
}
.not-front #block-system-main > .block-inner {
  margin: 0 15px;
}
h1#page-title {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 0;
}
.in-maintenance h1#page-title {
  padding: 10px;
}

/* Feed icons */
.feed-icon img {
  float: right;
  padding: 4px 10px;
}

/* Search results list. */
.search-results {
  margin: 0;
}
.search-results .search-result {}
.search-results .title {
  font-size: 1.154em;
}
.search-results .search-snippet-info {
  padding: 0;
}
.search-results p {
  margin: 0;
}
.search-results .search-snippet {}
.search-results .search-info {
  font-size: .923em;
}

/* Button Wrappers */
span.button-wrapper {} /* Outer wrapper */
span.button {} /* Inner wrapper */

.feed-source {
  margin: 1em 0;
}
.feed-description {}

/* Maintenance page */
.maintenance-page #skip-link {
  position: absolute;
  top: -99em;
}
.maintenance-page footer {
  margin: 10px 0 0;
}
.maintenance-page footer a {
  text-decoration: none;
  color: #ccc;
}

/* Menu bar top */
#menu-top-wrapper {
  background: rgba(0, 0, 0, 0.90);
}
#menu-top-wrapper .container {
  padding: 10px 0;
}
.menu-top-border-bottom {
  background: url(images/top-menu-border-bottom.png) repeat-x;
  height: 2px;
  width: 100%;
}

/* Content area gradiant */
.content-area-gradiant-top  {
  background: url(images/content-area-gradiant-top.png) repeat-x;
  height: 19px;
  width: 100%;
}

/* Main menu nav */
#nav-wrapper {
  z-index: 400;
  position: relative;
}
#menu-bar {
  z-index: 450;
  position: relative;
}
.menu-bottom {
  z-index: 400;
  position: relative;
}
#nav-wrapper .container .menu-box {
  -webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03);
  margin: 0 10px;
}
#nav-wrapper  .container {}
#nav-wrapper  .block {
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
}
#nav-wrapper  .dark-arrow {
  border-bottom: 0;
}
#nav-wrapper .menu-bottom {
  background: #000;
  background: rgba(0, 0, 0, 0.98);
  font-size: 1.25em;
  height: 3.5em;
  margin: 0;
  position: relative;
}
#nav-wrapper .menu-bottom  .block {
  background: transparent;
  border: 0;
}
#nav-wrapper .menu-bottom  .block-inner {
  padding: 0;
  margin: 0;
}
#sf-navbar-background {}
.sf-navbar-push {}

/* Footer */
#footer-panels-wrapper,
#footer-wrapper {
  color: #fff;
}
#footer-panels-wrapper a,
#footer-wrapper a {
  color: #ccc;
}
#footer-panels-wrapper a:hover,
#footer-panels-wrapper a:focus,
#footer-wrapper a:hover,
#footer-wrapper a:focus {
  text-decoration: underline;
}
#footer-panels-wrapper ul,
#footer-panels-wrapper ul li,
#footer-wrapper ul,
#footer-wrapper ul li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.footer-panels-border-top {
  background: url(images/footer-panels-border-top.png) repeat-x;
  height: 2px;
  width: 100%;
}
#footer-panels-wrapper {
  background: rgba(0, 0, 0, 0.86);
}
.footer-border-top {
  background: url(images/footer-border-top.png) repeat-x;
  height: 3px;
  width: 100%;
}
#footer-wrapper {
  background: rgba(0, 0, 0, 0.90);
}
#footer-wrapper .container {
  padding: 10px 0 15px;
}

/* Front page */
.view-frontpage table {
  background: #fff;
  margin: 0;
  border: 0;
}
.view-frontpage table td {
  vertical-align: top;
  width: 50%;
  padding: 0;
}
.view-frontpage table td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.view-frontpage table .row-last td {
  border-bottom-width: 0;
}
.view-frontpage table .col-1 {
  border-right-width: 1px;
  border-right-style: solid;
}
.view-frontpage table article {
  padding: 19px 21px;
}
.view-frontpage table .node-title {
  margin: 0;
}
.view-frontpage table.views-view-grid figure img {
  width: 100%; /* responive images to prevent overflow*/
  height: auto;
}

/* Slideshow */
.region-two-66-33-first .article-content{
  font-size: 1.083em;
}
.views-slideshow-controls-top {
  position: absolute;
  width: 40px;
  left: -21px;
  top: 4px;
  -webkit-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.03);
}
.views-slideshow-controls-top span {
  display: block;
  height: 40px;
  width: 40px;
  border-width: 1px;
  border-style: solid;
}
.views-slideshow-controls-top a {
  text-indent: -9999em;
  position: absolute;
  overflow: hidden;
  height: 39px;
  width: 40px;
  border-top: 1px solid #fff;
}
span.views-slideshow-controls-text-previous {
  border-bottom: 0;
  background-image: url(images/slideshow-control-previous.png);
  background-repeat: no-repeat;
  background-position: center 10px;
}
span.views-slideshow-controls-text-pause {
  display: none;
}
span.views-slideshow-controls-text-next {
  background-image: url(images/slideshow-control-next.png);
  background-repeat: no-repeat;
  background-position: center 13px;
}
div.views_slideshow_cycle_main {
  margin-left: 20px;
}
.region-highlighted div.views_slideshow_cycle_main {
  margin-left: 30px;
}

/* User Profile */
.profile h3 {
  border: 0;
}

/* Poll */
.poll .title {
  font-weight: 700;
  margin-bottom: 10px;
}
.poll .bar {
  background-color: transparent;
  border: 0;
}
.poll .percent {
  font-size: .833em;
}

/* Forum comments block on forum pages - this is custom block with custom styles */
.view-forum-comments h3 {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}
.view-forum-comments div span {
  font-size: 0.833em;
}

/* Global links */
ul.links {
  margin-left: 0;
}

/* Hide Drupal bug where contextual links are sometimes displayed for anon users */
.not-logged-in .contextual-links-wrapper {
  display: none;
}

/* Social networking block */
.block-views .view-social-network ul {
  padding: 0;
  margin: 0;
}

.block-views .view-social-network ul li {
  list-style: none;
  display: inline;
  margin: 0;
}
