//
// Layout
// Styles for Forms
// --------------------------------------------------

// General
// --------------------------------------------------
.btn-big {
  font-size: 20px;
  padding: 10px 25px;
}

.form-actions-clean {
  border: none;
  padding: 0;
  background: none;
}